@import './fonts.css';
@import 'tailwindcss';

@plugin '@tailwindcss/forms';
@plugin 'tailwind-scrollbar';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
  --font-sans: Klavika, Arial, Helvetica, sans-serif;

  --font-weight-light: 300;
  --font-weight-normal: 500;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}


@layer base {
  html {
    font-family: "Klavika", Arial, Helvetica, sans-serif;
  }
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
  }

  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .scrollbar-track-transparent::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-thumb-slate-400\/70::-webkit-scrollbar-thumb {
    background-color: rgba(148, 163, 184, 0.7);
  }

  .scrollbar-thumb-rounded-full::-webkit-scrollbar-thumb {
    border-radius: 9999px;
  }

  .hover\:scrollbar-thumb-slate-500:hover::-webkit-scrollbar-thumb {
    background-color: #64748b;
  }

  .scrollbar-thumb-slate-400\/70 {
    scrollbar-color: rgba(148, 163, 184, 0.7) transparent;
  }
}

[x-cloak] {
  display: none !important;
}
